.aluno-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

body{
    min-height: 95vh;
    background-image: url('https://res.cloudinary.com/dqdrmvua8/image/upload/v1635952896/video_image-cujBWwaTa_vnzdfx.jpg');
    background-repeat: no-repeat;
}