.bd{
    background-color: #282c34;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);    
    background-image: url('https://res.cloudinary.com/dqdrmvua8/image/upload/v1635952901/bg-acompanhamento-escolar38F28209-FF71-EF28-256B-7392C8C0854D_d58m7r.jpg');
}

.h1{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    color: aliceblue;
    position: absolute;
    top: 25%;
    left: 75%;

    
}
p{
    width: 600px;    
    margin: 10px 0;
    padding: 0;    
    font-family: Arial, Helvetica, sans-serif;    
    color: aliceblue;
    position: relative;
    top: 25%;
    left: 33%;
    word-wrap: break-word;
}